In [9]:
print("hello world")

hello world

In [10]:
a = 12 
b = 23
print(a+b)

35

In [11]:
###가나다라

## 연습

### 집합

- set type
- 순서 없이 항목을 저장
- 항목이 중복 될 수 없음

In [12]:
s1 = set([1,2,3])

In [13]:
s2 = {3,4,5}

In [14]:
word = "Hello" * 2

In [16]:
word

'HelloHello'

In [17]:
word_list = list(word)

In [18]:
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [20]:
s3 = set(word_list)

In [22]:
s3 
# set은 중복된 원소가 없음

{'H', 'e', 'l', 'o'}

In [23]:

s4 = set("Hello")

In [24]:
s4

{'H', 'e', 'l', 'o'}

In [25]:
s = {1,2,3,4,5,3,4}

In [26]:
s

{1, 2, 3, 4, 5}

In [28]:
s.add(10)

In [29]:
s

{1, 2, 3, 4, 5, 10}

In [30]:
s.remove(2)

In [31]:
s

{1, 3, 4, 5, 10}

In [32]:
s.update([1,3,5,7,9])

In [33]:
s

{1, 3, 4, 5, 7, 9, 10}

In [34]:
s.discard(7)

In [35]:
s

{1, 3, 4, 5, 9, 10}

In [36]:
s.clear()

In [37]:
s

set()

In [38]:
s1 = {1, 2, 3}

In [39]:
s2 = {3, 4, 5}

In [40]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [41]:
s1.intersection(s2)

{3}

In [42]:
s1 - s2

{1, 2}

In [43]:
s1.difference(s2)

{1, 2}

In [44]:
s1 | s2

{1, 2, 3, 4, 5}

In [45]:
s1 & s2

{3}

### 집합 연습문제 실습

In [68]:
a = set()

In [81]:
for i in range(1,101):
    if i%3 == 0:
        a.add(i)

In [82]:
a

{3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [87]:
b = set()
for i in range(1,101):
    if i%5 == 0:
        b.add(i)
b

{5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100}

In [84]:
s = a & b

In [85]:
print(s)

{75, 45, 15, 90, 60, 30}

In [86]:
print("3와 5의 공배수 : " , len(s) , "개" )

3와 5의 공배수 :  6 개

In [91]:
s3 = {i for i in range(3, 100, 3)}
s5 = {i for i in range(5, 100, 5)}
s = s3&s5
print(s)
print("3와 5의 공배수", str(len(s)), "개")

{75, 45, 15, 90, 60, 30}
3와 5의 공배수 6 개

### 딕셔너리

- key로 value를 관리
- 항목들 사이에 순서가 없음

In [92]:
d = {}
d['kim'] = 1

In [93]:
d

{'kim': 1}

In [94]:
d.keys()

dict_keys(['kim'])

In [95]:
d['han'] = 3

In [96]:
d

{'kim': 1, 'han': 3}

In [97]:
d.keys()

dict_keys(['kim', 'han'])

In [100]:
d.items()

# 튜플 : 괄호로 묶어져 있는 것

dict_items([('kim', 1), ('han', 3)])

In [99]:
'kim' in d

True

In [101]:
'ㄴㅁㅇㄹ' in d

False

In [102]:
del d['kim']

In [103]:
d

{'han': 3}

In [104]:
d.clear()

### 딕셔너리 실습

In [113]:
s_input = input()

python

In [114]:
dic = {}

In [115]:
for c in s_input:
    print(c)

p
y
t
h
o
n

In [121]:
dd = 0

for qqq in s_input:
    if qqq in s_input:
        d[qqq] = 1

In [122]:
dic

{}

In [128]:
s = input("Enter a sentence: ")

d = {}

for c in s:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1
d

Enter a sentence: python p

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, ' ': 1}

In [132]:
s = input("Enter a sentence: ")

d = {}

for c in s:
     d[c] = s.count(c)
d

Enter a sentence: ASDSAFD

{'A': 2, 'S': 2, 'D': 2, 'F': 1}

# 함수와 모듈

### 함수

In [133]:
def add(a,b) :
    result = a + b
    return result

a = int(input())
b = int(input())

add(a,b)

3
4

7

In [134]:
def add_and_mul(a,b):
    return (a+b, a*b)

In [135]:
add_res, mul_res = add_and_mul(3, 4)
print(add_res)
print(mul_res)

7
12

### 실습 1

In [161]:
def my_len(x) :
    length = 0
    for i in x:
        length += 1
    return length 

a = [5,5,6,7,8,3]
b = 'Life is short.'
print(len(a), len(b)) 
print(my_len(a), my_len(b))

6 14
6 14

### 실습 2

In [163]:
def mult(a,b) :
    qq = 1
    for i in range(a,b+1):
        qq = qq * i
    return qq

a = int(input())
b = int(input())
mult(a,b)

2
3

6

### 실습 3

In [160]:
def sum_pos_neg(l):
    plus = 0
    minus = 0
    for i in l :
        if i >= 0 :
            plus += i
        else :
            minus += i
    return plus, minus


possum,negsum = sum_pos_neg([3,4,-6,-3])
print(possum,negsum) # 7 -9
mylist=[0,0,0,0,0,0,0,0,0,1,-1]
possum2,negsum2 = sum_pos_neg(mylist)
print(possum2,negsum2) # 1 -1

7 -9
1 -1

In [169]:
def count_even(*n):
    cnt = 0
    for v in n:
        if v % 2 == 0:
            cnt += 1
    return cnt

count_even(1,2,3,4,5)

2

SyntaxError: incomplete input (3934150850.py, line 1)

### 실습4

In [200]:
def vector_sum(vector, *vectors):
    v_sum1 = vector[0]
    v_sum2 = vector[1]
    for i in vectors:
        v_sum1 = v_sum1 + i[0]
        v_sum2 = v_sum2 + i[1]
    vvv = [v_sum1, v_sum2]
    return vvv


v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.13, 2.72]
m1 = vector_sum(v1, v2, v3)  # 여기서 매개변수 vector에 대응하는 값이 v1 이고, 매개변수 *vectors 에 대응하는 값은 v2, v3 이 된다.
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1,m2,m3)

[1.5, 1.5] [7.5, 5.5] [4.13, 2.72]

In [216]:
def vector_sum(vector, *vectors):
    result = vector[:] # => 깊은 복사
    #result = [vector[0],vector[1]]
    #result = vector  => 얕은 복사
    
    for i in vectors:
        result[0] += i[0]
        result[1] += i[1]

    return result

v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.13, 2.72]
m1 = vector_sum(v1, v2, v3)  # 여기서 매개변수 vector에 대응하는 값이 v1 이고, 매개변수 *vectors 에 대응하는 값은 v2, v3 이 된다.
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1,m2,m3)

[1.5, 1.5] [7.5, 5.5] [4.13, 2.72]

In [212]:
def print_name(first, second='Kim'): #second 변수 기본값 'Kim'
    print ('My name is', first, second + '.')

#함수 호출

print_name('Gildong', 'Hong')
print_name('Gildong') #second 변수에 대응되는 값을 주지 않았으므로

#정의할 때 지정한 'Kim'을 가짐

My name is Gildong Hong.
My name is Gildong Kim.

In [213]:
def calc(x, y=0, z=0) :
    return x+y+z

result = calc(y=20, x=10, z=30) # 값 넣어줄 때 미리 지정해서 넣으면 매개변수 순서 상관 없음

# calc(10, 30, y=20) => 이렇게 넣으면, 이미 y값에 30 들어갔는데, y=20이 또 들어가니까 충돌한다.

print(result)

60

In [219]:
print("Output", end=" ") # 줄 바꿈 막아줌
print("hi")
print("h123213i")

Output hi
h123213i

In [224]:
l = {1,45,6,3}
sorted_list = sorted(l, reverse=True)

print(l)
print(sorted(l))
print(sorted_list)

{1, 3, 45, 6}
[1, 3, 6, 45]
[45, 6, 3, 1]

### 실습 5

In [226]:
def merge_list(list1=[0], list2=[0]):
    list3 = list1 + list2
    return sorted((list3))

 
l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9]
print(ml2) # [0, 4, 6, 9]
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

In [228]:
import math
math.factorial(10)

3628800

In [230]:
from math import factorial
factorial(10)

3628800

In [231]:
factorial(5)

120

In [233]:
import random

In [239]:
random.choice('abcdefg')

'e'

In [240]:
random.randint(3, 10)

8

In [241]:
Ls = [1,2,3,4,5]
random.shuffle(Ls)
print(Ls)

[4, 5, 2, 3, 1]

In [245]:
random.sample([1, 2, 3, 4, 5, 6], 3)

[1, 3, 4]

### 실습 6

In [284]:
import random

print("** 로또 번호 자동 기입을 시작합니다 **")

def randoming(length):
    random_num = []
    for j in range(1,length):
        random_num.append(random.randint(1, 46)) 
        random_num = sorted(random_num)
    return random_num

for i in range(1,6):
    
    print(i,"번째 자동 기입 ==> " , randoming(7))

** 로또 번호 자동 기입을 시작합니다 **
1 번째 자동 기입 ==>  [4, 15, 15, 40, 42, 42]
2 번째 자동 기입 ==>  [1, 12, 24, 30, 30, 43]
3 번째 자동 기입 ==>  [8, 18, 20, 43, 44, 44]
4 번째 자동 기입 ==>  [17, 20, 29, 32, 35, 35]
5 번째 자동 기입 ==>  [7, 13, 17, 26, 29, 39]

In [285]:
import random

print("** 로또 번호 자동 기입을 시작합니다 **")

** 로또 번호 자동 기입을 시작합니다 **

### 실습 7

In [275]:
def get_min_max(l):
    
    min1 = min(l)
    max1 = max(l)
    
    l.remove(min1)
    l.remove(max1)
    
    return min1, max1
    
    
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

### 실습 8

In [282]:
from collections import Counter

def comb_dict(d1, d2):
    result = dict(Counter(d1)+Counter(d2))
    return result
    
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

In [286]:
def comb_dict(d1, d2):
    d = d1.copy()
    
    for k in d2.keys():
        if k in d:
            d[k] += d2[k]
        else:
            d[k] = d2[k]
    return d
    
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

In [292]:
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}

d = d1.copy()

d['a'] += d2['a']
d['c'] = d2['c']
d['e'] += d2['e']

print(d)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

### 실습 9

In [302]:
def diff(*b):
    if len(b) < 2:
        print("오류발생")
        return
    maximum = max(b)
    minimum = min(b)
    return maximum - minimum

print(diff(1,2,3,4,5))
print(diff(-100, 200))
diff(1)

4
300
오류발생

In [303]:
def diff(*num):
    if len(num)<2 :
        print("오류발생")
        return
    else:
        result = max(num)-min(num)
    return result
    
    
print(diff(1,2,3,4,5))
print(diff(-100, 200))
diff(1) # 오류발생!

4
300
오류발생